<div hidden>
$$ \newcommand{\R}{\mathbb{R}} $$

$$ \newcommand{\shape}[1]{\mathcal{#1}} $$

$$ \newcommand{\func}[1]{\mathop{\rm #1}\nolimits} $$

$$ \newcommand{\DF}{\mathfrak{D\hspace{-0.2em}\scriptstyle{F}}} $$
$$ \newcommand{\Shape}{\boldsymbol{\Omega}} $$


$$ \newcommand{\fieldset}[2]{#1 \hspace{-0.65em} \lower{0.8ex}{\scriptscriptstyle{#2}} \;} $$
$$ \newcommand{\planesymbol}{~ \style{display: inline-block; transform: scale(2.24, 0.66)}{\diamond}} $$
$$ \newcommand{\df}[1]{\fieldset{#1}{\leftrightarrow}} $$
$$ \newcommand{\ugf}[1]{\fieldset{#1}{-}} $$
<!-- $$ \newcommand{\ugf}[1]{\fieldset{#1}{\rule[0.5ex]{1em}{0.4pt}}} $$ -->
$$ \newcommand{\augf}[1]{\fieldset{#1}{\sim}} $$
$$ \newcommand{\plane}[1]{\fieldset{#1}{\planesymbol}} $$

$$ \newcommand{\fieldsetSm}[2]{#1 \hspace{-0.48em} \lower{0.8ex}{\scriptscriptstyle{#2}} \;} $$
$$ \newcommand{\planeSm}[1]{\fieldsetSm{#1}{\planesymbol}} $$





</div>