body
{
    background-color: #000;
    font-size: 12px;
    color: white;
    font-family: 'Doppio One' , 'Helvetica Neue' , Helvetica, Arial, sans-serif;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
        
html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
hr
{
    border-color: #666;
}
input
{
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #444;
}
input [type='text']
{
    height: 18px;
}
input [type='button']
{
    height: 18px;
}
input [type='checkbox']
{
    height: 4px;
    line-height: 5px;
}
#canvas
{
    /*    width: 100%;LawsonFront
			height: 100%;*/
    position: absolute;
    border: none;
    top: 0;
    left: 0;
}
#controlsPanel
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    background-color: #222;
}
#controlsPanelMinimize
{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin: 2 2 2 2;
}
#controlsBody
{
    position: static;
    margin: 0 0 0 0;
    padding: 0 8 0 8px;
}
#controlsTextArea
{
    margin: 0 0 0 0;
    font-size: 10px;
    font-weight: 200;
    color: #999;
    line-height: 14px;
}
#image
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#imageLoader
{
    display: none;
}
a
{
    color: #888;
}
a:link
{
    color: #888;
}
a:visited
{
    color: #888;
}
a:hover
{
    color: #aaa;
}
a:hover
{
    color: #aaa;
}
label
{
    border: 0px solid #ccc;
    padding: 0px;
    margin: 0 0 0 0px;
    display: block;
}
        
.meter-wrap
{
    position: relative;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    height: 18;
}
        
.meter-wrap, .meter-value, .meter-text
{
    /* The width and height of your image */
    width: 100%;
}
        
.meter-wrap, .meter-value
{
    background: #111 top left no-repeat;
}
        
.meter-text
{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.meter-value
{
    background-color: #444;
    height: 100%;
}
